<head>
	<title>Minu koduleht</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<h1>Pealkiri 1</h1>
	<h2>pealkiri 2</h2>
	<h3>pealkiri 3</h3>
	<h4>pealkiri 4</h4>
	<h5>pealkiri 5</h5>
	<p>lõik</p>

	<ul>
		<li>list</li>
		<li>list</li>
		<li>list</li>

	</ul>
	<ol>
		<li>essa</li>
		<li class="kastiga">tessa</li>
		<li>kossa</li>
	</ol>

	<img class="kastiga" width="200" src="https://www.google.ee/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png">
	<br/>
	<form>
		<p id="sisestus"></p>
		<br><input id="nimi" placeholder="Kirjuta nimi siia"/> <!--placeholder lisab vihjeteksti-->
		<input value="hello"/><!--lisab teksti-->
		<input type="checkbox"/> <!-- linnukesega kast ilmselgelt -->
		<input type="range"/> <!--vahemik-->
		<input type="submit"/> <!--esita nupp-->
		<input class="kastiga" type="date"/>
	<form/>
	
	<script src="script.js"></script>
</body>