body {
	background-color: rosybrown;
	color: darkslategray;
	font-family: sans-serif;
	font-size: 15px;	
}

form {
	border: 1px solid black;
	border-radius: 10px;
	box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.3);
}

form input {
	display: block;
}

.kastiga {
	border: 2px solid lightpink;
	border-radius: 5px;
}

h1 {
	color: midnightblue;
}