#message {
	font-family: Verdana;
	color: #2F4F4F;
	width: 50%;
	padding: 20px;
	border-radius: 4px;
	border: none;
}

#username {
	font-family: Verdana;
	color: #2F4F4F;
	width: 50%;
	padding: 20px;
	border-radius: 4px;
	border: none;
}

#button {
	background-color: #5A5A5A;
	border: 2px solid #5A5A5A;
	color: white;
	padding: 15px 30px;
	text-align: center;
	font-size: 16px;
	border-radius: 4px;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	cursor: pointer;
	margin: 20px 0px;
	width: 50%;
}

#button:hover {
	background-color: white;
	color: mistyrose;
}

body {
	background-color: mistyrose;
	color: #1D1818;
	font: Arial;
}

h1 {
	font-family: Lato;
	font-size: 20px;
	font-weight: 200;
}