#message {
	font-family: Verdana;
	color: #2F4F4F;
	width: 50%;
	padding: 20px;
	border-radius: 4px;
	border: none;
}

#username, #url {
	font-family: Verdana;
	color: #2F4F4F;
	width: 50%;
	padding: 20px;
	border-radius: 4px;
	border: none;
}



#button, #chatRoomButton {
	background-color: #5A5A5A;
	border: 2px solid #5A5A5A;
	color: white;
	padding: 15px 30px;
	text-align: center;
	font-size: 16px;
	border-radius: 4px;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	cursor: pointer;
	margin: 20px 0px;
	width: 50%;
}

#button:hover {
	background-color: white;
	color: mistyrose;
}

body {
	background-color: mistyrose;
	color: #1D1818;
	font: Arial;
}

h1 {
	font-family: Lato;
	font-size: 20px;
	font-weight: 200;
}
/*.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

*//* Change color of dropdown links on hover *//*
.dropdown-content a:hover {background-color: #ddd;}

*//* Show the dropdown menu on hover *//*
.dropdown:hover .dropdown-content {display: block;}

*//* Change the background color of the dropdown button when the dropdown content is shown *//*
.dropdown:hover .dropbtn {background-color: #3e8e41;}*/
