<head>
	<title>Jututuba</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<meta charset="utf-8">
</head>
<body>
	<div id="jutt"></div>
	<form>
		<h1>Sinu nimi</h1>
		<input id="username" value="Nimi" placeholder="kasutaja"/>
		<h1>Sisesta sõnum</h1>
		<input id="message" value="Minu esimene sõnum" placeholder="sõnum"/>
		<h1>Sisesta pildi URL</h1>
		<input id="url" value="https://" placeholder="url"/>
		<br><input id="button" type="submit">
		<br>

	</form>
	<input id="room" value="general" placeholder="rooms">

	<script src="script.js"></script>
</body>